# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Listcommonly used libraries used by Data Scientists

Some of the popular languages that Data Scientists use are: 
1. R
2. Python
3. Sql
4. Stata

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. sckit
3. numpy

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| Pycharm            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# his will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Serkan Başatlık